---

---

<template>
    <button class="red-button">TICKETS</button>
    <button class="red-outline-button">TICKETS</button>
 </template>
 
 <style>
    /* CSS */
    .red-button,
    .red-outline-button {
       width: 100px;
       display: inline-block;
       text-align: center;
       padding: 10px 0;
       border-radius: 5px;
       cursor: pointer;
       text-decoration: none;
       font-size: 16px;
       margin-bottom: 10px;
    }
 
    .red-button {
       background-color: #4f0400;
       color: white;
       border: none;
    }
 
    .red-outline-button {
       background-color: transparent;
       border: 2px solid #4f0400;
       color: #4f0400;
    }
 
    .red-button:hover {
       background-color: darkred;
    }
 
    .red-outline-button:hover {
       background-color: rgba(255, 0, 0, 0.1);
    }
 </style>
 