---

---

<footer>
   <div class="footer-left">
      <a href="/">FRONT PAGE</a>
      <a href="/tickets/">TICKETS</a>
      <a href="/lineup/">LINEUP</a>
      <a href="/gallery/">GALLERY</a>
   </div>
   <div class="footer-middle">
      <a href="index.html">
         <img src="/KarruselHeadline.png" alt="Footer Logo" />
      </a>
      <p>Refshalevej 193, 1432 Copenhagen</p>
      <p>info@nusnus.dk</p>
      <a href="https://www.instagram.com/karruselfest/">
         <img class="social-icon" src="/Instagram.png" alt="Instagram" />
      </a>
   </div>
   <div class="footer-right">
      <form class="signup-form">
         <h2>STAY UPDATED</h2>
         <input type="email" placeholder="Enter your email" />
         <input type="submit" value="Sign Up" />
      </form>
   </div>
</footer>

<style>
   /* CSS styles for the footer */
   @font-face {
      font-family: "Font";
      src: url("/public/NeueRegradeBold.otf") format("opentype");
   }
   footer {
      background-color: #000000;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .footer-left,
   .footer-right {
      display: flex;
      flex-direction: column;
   }

   .footer-left a {
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
      font-family: "Font", sans-serif;
   }

   .footer-middle {
      text-align: center;
      flex-grow: 1;
   }

   .footer-middle img {
      width: 150px;
      margin-bottom: 10px;
   }

   .footer-middle p {
      margin: 5px 0;
      font-size: 14px;
      font-family: "Font", sans-serif;
   }

   .footer-right {
      text-align: center;
      font-family: "Font", sans-serif;
   }

   .signup-form {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .signup-form input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ffffff;
      border-radius: 5px;
   }

   .signup-form input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #4f0400;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
   }

   .footer-middle .social-icon {
      width: 20px;
      height: auto;
   }

   .footer-middle img {
      width: 180px;
      height: auto;
      margin-bottom: 5px;
   }

   @media screen and (max-width: 768px) {
      footer {
         flex-direction: column;
         text-align: center;
      }

      .footer-left,
      .footer-right {
         width: 100%;
         margin-bottom: 20px;
      }

      .footer-middle {
         margin-bottom: 20px;
      }

      .footer-middle img {
         margin-bottom: 10px;
      }

      .footer-left a {
         margin-bottom: 5px;
      }

      .signup-form {
         width: 50%;
         margin: 0 auto;
         font-size: 14px;
      }
   }
</style>
