---
import Footer from "../compontents/Footer.astro"
import Navigation from "../compontents/Navigation.astro"
const {title} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    
    <body>
   <h1>{title}</h1>
     <Navigation />
    
     <article>
        <slot />
     </article>
    <Footer />
    </body>
 
</html>